<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Forgot Password</title>
</head>
<body>
<section>
    <form method="post" action="/reset_password">
        <h1>Forgot Password</h1>
        <p>Enter your email to receive a reset link.</p>
        <label>
            <span>Email</span>
            <input type="email" name="email" placeholder="Email" required />
        </label>
        <button type="submit">Send Reset Link</button>
    </form>
</section>
<%- include('partials/footer') %>
</body>
</html>
