<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>MyPage | Register</title>
</head>
<body>
<section>
    <form method="post" action="/register">
        <h1>Register</h1>
        <p>Create a new account.</p>
        <label>
            <span>Username</span>
            <input type="text" name="username" placeholder="Username" required />
        </label>
        <label>
            <span>Password</span>
            <input type="password" name="password" placeholder="Password" required />
        </label>
        <button type="submit">Register</button>
    </form>
</section>
<%- include('partials/footer') %>
</body>
</html>
